.white-text{
    color: white;
}

.desc-container{
    justify-self: center;
    padding: 0 20px;
}

.title{
    grid-area: title;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.score{
    grid-area: score;
    margin-top: 20px;
    text-align: center;
}

.image{
    grid-area: img;
    text-align: center;
    height: 400px;
}

.desc-img{
    height: 100%;
}

.desc{
    grid-area: desc;
    height: 400px;
    width: 700px;
    overflow-y:auto;

}

.episode{
    grid-area: episode;
    margin-top: 5px;
}

.type{
    grid-area: type;
    margin-top: 5px;
}

.status{
    grid-area: status;
    margin-top: 5px;
}

.airing{
    grid-area: airing;
    margin-top: 5px;
}

.producer{
    grid-area: producer;
    margin-top: 5px;
}
.licencor{
    grid-area: licencor;
    margin-top: 5px;
}
.studio{
    grid-area: studio;
    margin-top: 5px;
}
.genre{
    grid-area: genre;
    margin-top: 5px;
}
.duration{
    grid-area: duration;
    margin-top: 5px;
}
.rating{
    grid-area: rating;
    margin-top: 5px;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "title  .               ."
        "img    desc            desc"
        "score  episode         type"
        ".      airing          status"
        ".      producer        licencor"
        ".      studio          genre"
        ".      duration        rating"
        ".      .               .";

    align-items: center;
    justify-content: center;
    padding: 20px;
}

@media screen and (max-width: 640px){
    .wrapper{
        grid-template-columns: 1fr;
        grid-template-areas:
        "title"
        "img"
        "score"
        "desc"
        "episode"
        "type"
        "airing"
        "status"
        "producer"
        "licencor"
        "studio"
        "genre"
        "duration"
        "rating";
        justify-items: center;
    }


    .title{
        margin-top: 40px;
        margin-bottom: 20px;
        text-align: center;
        margin-right: 0px;
    }

    .desc{
        width: 300px;
        margin-top: 20px;
        display: flex;
        text-align: left;
    }

    .image{
        text-align: center;
        margin-right: 0;
    }
    
    .score{
        grid-area: score;
        margin-top: 40px;
        text-align: center;
    }
    .episode{
        margin-top: 15px;
        width: 300px;
        text-align: left;
    }
    
    .type{
        margin-top: 5px;
        width: 300px;
        text-align: left;
    }
    
    .status{
        margin-top: 5px;
        width: 300px;
        text-align: left;
    }
    
    .airing{
        margin-top: 5px;
        width: 300px;
        text-align: left;
    }
    
    .producer{
        margin-top: 5px;
        width: 300px;
        text-align: left;
    }
    .licencor{
        margin-top: 5px;
        width: 300px;
        text-align: left;
    }
    .studio{
        margin-top: 5px;
        width: 300px;
        text-align: left;
    }
    .genre{
        margin-top: 5px;
        width: 300px;
        text-align: left;
    }
    .duration{
        margin-top: 5px;
        width: 300px;
        text-align: left;
    }
    .rating{
        margin-top: 5px;
        width: 300px;
        text-align: left;
    }
}